<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PresentationTrial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14F52B2E1F27FAF90024B51F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14F52B421F27FAF90024B51F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14F52B4D1F27FAF90024B51F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
